

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"
></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">

            <h3 class="mb-5">JWT Authentication</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-outline mb-4">
              <label class="form-label" for="typeEmailX-2">Email</label>
              <input type="email" id="typeEmailX-2" formControlName="username" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typePasswordX-2">Password</label>
              <input type="password" formControlName="password" id="typePasswordX-2" class="form-control form-control-lg" />
            </div>
            <button   [disabled]="loading" class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            <hr class="my-4">
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





















